<%- include('views/header'); %>
<main class="flex-shrink-0 mt-5">
  <div class="container">
    <h1 class="mt-5">Record Audio</h1>
    <p class="lead"></p>
    <button
      type="button"
      class="btn btn-success rounded-circle btn-lg"
      id="record"
    >
      <i class="bi bi-record-circle"></i>
    </button>
    <div id="playerHolder" class="float-end">
      
    </div>
  </div>
</main>
<%- include('views/bottom'); %>